.synopsis {
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;   
}
img {
    width: 700px;
    height: 500px;
}
.resume {
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    }
  
.txt-resume {
    width: 700px;
}
.card {
    color: black;
}
.syndicat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.novigrad-img {
    height: 600px;
    width:700px ;
}
